source https://api.nuget.org/v3/index.json

storage: none
framework: net7.0

nuget OpenTelemetry.Exporter.Console
nuget OpenTelemetry.Extensions.Hosting
nuget OpenTelemetry.Instrumentation.Runtime
nuget FSharp.Core